@{
    //    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container grid-list-md>
                <v-layout row wrap>
                    <v-flex xs8>
                        <v-text-field label="Regular"></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                        <v-btn color="success">Success</v-btn>
                    </v-flex>
                    <v-flex xs12>
                        <v-card dark id="map-container" style="height: 600px;"></v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.8&key=b1b74d37af79bb235194018744626451"></script>
<script >
    var vm = new Vue({ el: '#app' });

    var map = new AMap.Map('map-container',
        {
            resizeEnable: true, //是否监控地图容器尺寸变化
            zoom: 11, //初始化地图层级
            center: [116.397428, 39.90923] //初始化地图中心点
        });
</script>
</body>
</html>