<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Content/Site.css">
    <title>Sticky Footer Navbar Template for Bootstrap</title>
</head>

<body>

<header>
    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand text-light font-weight-bold">可迈达条码追溯系统</a>
        <form id="formCodeSearch" class="form-inline" onsubmit="return false;">
            <div class="input-group">
                <select class="custom-select form-control font-weight-bold rounded-left border-right-0" id="codeType" name="codeType">
                    <option selected value="">请选择条码类型</option>
                    <option value="batch-number">生产批号</option>
                    <option value="batch-card-code">批次卡号</option>
                    <option value="pack-code">包装条码</option>
                </select>
                <div class="invalid-tooltip" id="codeTypeErrorMessage">请选择具体的条码类型</div>
            </div>
            <div class="input-group">
                <input class="form-control font-weight-bold rounded-0" id="code" name="code" type="text" placeholder="请在此输入条码" onkeypress="if (event.keyCode === 13) { queryHandler(); }">
                <div id="codeErrorMessage" class="invalid-tooltip">条码不能为空</div>
                <div lcass="input-group-append">
                    <button id="btnQuery" class="btn btn-success font-weight-bold" style="border-top-left-radius: 0; border-bottom-left-radius: 0" type="button" onclick="queryHandler()">
                        <i class="fas fa-search"></i> 查询
                    </button>
                </div>
            </div>
        </form>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="invisible">
    <div class="container-fluid p-3">
        <div class="row no-gutters"></div>
    </div>
</main>

<footer class="footer bg-primary">
    <div class="container-fluid text-center">
        <span class=" text-light">Copyright 2018 可迈达公司</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>