<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-toolbar color="indigo" dark fixed app>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title>导航系统</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-container fluid>
                <v-layout column>
                    <v-flex>
                        <v-select label="Standard"></v-select>
                    </v-flex>
                    <v-flex id="map-container" light-green style="height: 300px">

                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <v-footer color="indigo" app>
            <v-flex text-xs-center white--text>
                &copy;2018 宁波大学科学技术学院现代软件工程实验室
            </v-flex>
        </v-footer>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.10&key=b1b74d37af79bb235194018744626451"></script>
<script>
    var vm = new Vue({ el: '#app' });
    var map = new AMap.Map('map-container',
        {
            zoom: 18, //级别
            viewMode: '3D' //使用3D视图
        });

    map.plugin(['AMap.ToolBar','AMap.Geolocation'],
        function () {
            var toolbar = new AMap.ToolBar();
            map.addControl(toolbar);

            var geolocation = new AMap.Geolocation({
                // 是否使用高精度定位，默认：true
                enableHighAccuracy: true,
                // 设置定位超时时间，默认：无穷大
                timeout: 10000,
                // 定位按钮的停靠位置的偏移量，默认：Pixel(10, 20)
                buttonOffset: new AMap.Pixel(10, 20),
                //  定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                zoomToAccuracy: true,
                //  定位按钮的排放位置,  RB表示右下
                buttonPosition: 'RB'
            });

            map.addControl(geolocation);
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);
            AMap.event.addListener(geolocation, 'error', onError);

            function onComplete(data) {
                // data是具体的定位信息
            }

            function onError(data) {
                // 定位出错
            }
        });
</script>
</body>
</html>